<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	
	<h1>Categories!</h1>
	
	<ul>
        <li><a href="/allrecipes/categories/cake">Cake and cake-like</a></li>
        <br></br>
        <li><a href="/allrecipes/categories/chocolate">Chocolate</a></li>
        <br></br>
        <li><a href="/allrecipes/categories/cookie">Cookies/brownies</a></li>
        <br></br>
        <li><a href="/allrecipes/categories/custard">Custards</a></li>
        <br></br>
        <li><a href="/allrecipes/categories/fruit">Fruit</a></li>
        <br></br>
        <li><a href="/allrecipes/categories/iceCream">Ice Cream</a></li>
        <br></br>
        <li><a href="/allrecipes/categories/muffin">Muffins</a></li>
        <br></br>
        <li><a href="/allrecipes/categories/pie">Pies and Tarts</a></li>
        <br></br>
        <li><a href="/allrecipes/categories/other">Other</a></li>
        <br></br>
    </ul>
	
</body>
</html>