<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	
	<h1>Measurement Conversions</h1>
	
	<h2>Quick Alternatives</h2>
	<ul>
		<li>1 tablespoon (tbsp.) = 3 teaspoons (tsp.)</li>
		<br></br>
		<li>1/16 cup = 1 tbsp.</li>
		<br></br>
		<li>1/8 cup = 2 tbsps.</li>
		<br></br>
		<li>1/6 cup = 2 tbsps. + 2 tsps.</li>
		<br></br>
		<li>1/4 cup = 4 tbsps.</li>
		<br></br>
		<li>1/3 cup = 5 tbsps. + 1 tsps.</li>
		<br></br>
		<li>3/8 cup = 6 tbsps.</li>
		<br></br>
		<li>1/2 cup = 8 tbsps.</li>
		<br></br>
		<li>2/3 cup = 10 tbsps. + 2 tsps.</li>
		<br></br>
		<li>3/4 cup = 12 tbsps.</li>
		<br></br>
		<li>1 cup = 48 tsps. or 16 tbsps.</li>
		<br></br>
		<li>8 fluid ounces (fl oz.) = 1 cup</li>
		<br></br>
		<li>1 pint (pt.) = 2 cups</li>
		<br></br>
		<li>1 quart (qt.) = 2 pts.</li>
		<br></br>
		<li>4 cups = 1 qt.</li>
		<br></br>
		<li>1 gallon (gal.) = 4 qts.</li>
		<br></br>
		<li>16 ounces (oz.) = 1 pound (lb.)</li>
		<br></br>
		<li>1 milliliter (ml.) = 1 cubic centimeter (cc.)</li>
		<br></br>
		<li>1 inch (in.) = 2.54 centimeters (cm.)</li>
	</ul>
	<br></br>
	<h2>Capacity (U.S. to Metric)</h2>
	<ul>
		<li>1/5 tsp. = 1 ml.</li>
		<br></br>
		<li>1 tsp. = 5 ml.</li>
		<br></br>
		<li>1 tbsp. = 15 ml.</li>
		<br></br>
		<li>1 fl oz. = 30 ml.</li>
		<br></br>
		<li>1/5 cup = 47 ml.</li>
		<br></br>
		<li>1 cup = 237 ml.</li>
		<br></br>
		<li>2 cups (1 pt.) = 473 ml.</li>
		<br></br>
		<li>4 cups (1 qt.) = .95 liter (lt.)</li>
		<br></br>
		<li>4 qts. (1 gal.) = 3.8 lts.</li>
		<br></br>
	</ul>
	<br></br>
	<h2>Weight (U.S. to Metric)</h2>
	<ul>
		<li>1 oz. = 28 grams</li>
		<br></br>
		<li>1 lb. = 454 grams</li>
	</ul>
	
</body>
</html>