<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	
	<h1>Glossary</h1>
	<ul>
		<li><b>Bake:</b> To cook in an oven with dry heat. The oven should always be heated for 10 to 15 minutes before baking.</li>
		<br></br>
		<li><b>Batter:</b> A mixture of flour, liquid, and other ingredients that is thin enough to pour.</li>
		<br></br>
		<li><b>Beat:</b> To thoroughly combine ingredients and incorporate air with a rapid, circular motion. This may be done with a wooden spoon, wire whisk, rotary eggbeater, electric mixer, or food processor.</li>
		<br></br>
		<li><b>Blanch:</b> To partially cook food by plunging it into boiling water for a brief period, then into cold water to stop the cooking process.</li>
		<br></br>
		<li><b>Boil:</b> To heat a liquid until bubbles rise continually to the surface and break.</li>
		<br></br>
		<li><b>Caramelize:</b> To heat sugar until it is melted and brown. Caramelizing sugar gives it a distinctive flavor.</li>
		<br></br>
		<li><b>Chop:</b> To cut into small pieces using a sharp knife, appliance, or scissors.</li>
		<br></br>
		<li><b>Coats spoon:</b> When a thin, even film covers a metal spoon after it has been dipped into a cooked mixture and allowed to drain.</li>
		<br></br>
		<li><b>Combine:</b>To stir together two or more ingredients until mixed.</li>
		<br></br>
		<li><b>Cool:</b> To come to room temperature.</li>
		<br></br>
		<li><b>Cream:</b>To beat one or more ingredients, usually margarine or butter, sugar, and/or eggs, until the mixture is smooth and fluffy.</li>
		<br></br>
		<li><b>Crimp:</b>To seal the edges of two layers of dough with the tines of a fork or your fingertips.</li>
		<br></br>
		<li><b>Cut in:</b>To distribute solid fat throughout the dry ingredients using a pastry blender, fork, or two knives in a scissors motion.</li>
		<br></br>
		<li><b>Dash:</b> A measurement less than 1/8 teaspoon.</li>
		<br></br>
		<li><b>Dough:</b> A soft, thick mixture of flour, liquids, fat, and other ingredients.</li>
		<br></br>
		<li><b>Dot:</b> To distribute small amounts of margarine or butter evenly over the surface of pie filling or dough.</li>
		<br></br>
		<li><b>Drizzle:</b> To drip a glaze or icing over food from the tines of a fork or the end of a spoon.</li>
		<br></br>
		<li><b>Dust:</b> To sprinkle lightly with sugar, flour, or cocoa.</li>
		<br></br>
		<li><b>Flute:</b> To make or press a decorative pattern into the raised edge of pastry.</li>
		<br></br>
		<li><b>Fold in:</b> To gently combine a heavier mixture with a more delicate substance, such as beaten egg whites or whipped cream, without causing a loss of air.</li>
		<br></br>
		<li><b>Glaze:</b> To coat with a liquid, thin icing, or jelly before or after the food is cooked.</li>
		<br></br>
		<li><b>Grate:</b> To shred with a handheld grater or food processor.</li>
		<br></br>
		<li><b>Grease:</b> To rub fat on the surface of a pan or dish to prevent sticking.</li>
		<br></br>
		<li><b>Grind:</b> To produce small particles of food by forcing food through a grinder.</li>
		<br></br>
		<li><b>Knead:</b> To fold, push and turn dough or other mixture to produce a smooth, elastic texture.</li>
		<br></br>
		<li><b>Lukewarm:</b> A temperature of about 105°F, which feels neither hot nor cold.</li>
		<br></br>
		<li><b>Mix:</b> To stir together two or more ingredients until they are thoroughly combined.</li>
		<br></br>
		<li><b>Mix until just moistened:</b> To combine dry ingredients with liquid ingredients until the dry ingredients are thoroughly moistened but the mixture is still slightly lumpy.</li>
		<br></br>
		<li><b>Partially set:</b> To refrigerate a gelatin mixture until it thickens to the consistency of unbeaten egg whites.</li>
		<br></br>
		<li><b>Peel:</b> To remove the skin of a fruit or vegetable by hand or with a knife or peeler. This also refers to the skin or outer covering of a fruit or vegetable.</li>
		<br></br>
		<li><b>Proof:</b> To allow yeast dough to rise before baking. Or to dissolve yeast in a warm liquid and set it in a warm place for 5 to 10 minutes until it expands and becomes bubbly.</li>
		<br></br>
		<li><b>Refrigerate:</b> To chill in the refrigerator until a mixture is cool or until dough is firm.</li>
		<br></br>
		<li><b>Rind:</b> The skin or outer coating of such foods as citrus fruit or cheese.</li>
		<br></br>
		<li><b>Rolling boil:</b> To cook a mixture until the surface billows rather than bubbles.</li>
		<br></br>
		<li><b>Rounded teaspoon:</b> When dough is slightly mounded, not level.</li>
		<br></br>
		<li><b>Scald:</b> To heat a mixture or liquid to just below the boiling point.</li>
		<br></br>
		<li><b>Score:</b> To cut slits in food with a knife, cutting partway through the outer surface.</li>
		<br></br>
		<li><b>Softened:</b> Margarine, butter, ice cream, or cream cheese that is in a state soft enough for easy blending, but not melted.</li>
		<br></br>
		<li><b>Shred:</b> To cut food into narrow strips using a sharp knife, grater, or food processor fitted with a shredding disk.</li>
		<br></br>
		<li><b>Soft peaks:</b> Egg whites or whipping cream beaten to the stage where the mixture forms soft, rounded peaks when the beaters are removed.</li>
		<br></br>
		<li><b>Steam:</b> To cook food on a rack or in a wire basket over boiling water.</li>
		<br></br>
		<li><b>Stiff peaks:</b> Egg whites beaten to the stage where the mixture will hold stiff, pointed peaks when the beaters are removed.</li>
		<br></br>
		<li><b>Stir:</b> To combine ingredients with a spoon or whisk using a circular motion.</li>
		<br></br>
		<li><b>Toss:</b> To mix lightly with a lifting motion, using two forks or spoons.</li>
		<br></br>
		<li><b>Whip:</b> To beat rapidly with a wire whisk or electric mixer to incorporate air into a mixture in order to lighten and increase the volume of the mixture.</li>
		<br></br>
		<li><b>Zest:</b> The colored outer peel of citrus fruit, which is used to add flavor. The zest is often referred to as “grated peel” in recipes. To create zest, choose the diagonal-hole side of a box grater (it will zest more cleanly than if you use the nail-hole side) and rub lightly to avoid getting the white pith, which is bitter. For broader strips of zest, use a swivel-blade peeler or a sharp knife to cut away the peel.</li>
	</ul>
	
</body>
</html>