<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="dochead">
	<link th:href="@{/css/normalize.css}" rel="stylesheet" />
	<link th:href="@{/css/styles2.css}" rel="stylesheet" />
	<title>Dessertz</title>
</head>

<body>

<nav th:fragment="navigation">
	<ul id="user-account">
	    <li><a href="/login">Login</a></li>
	    <li><a href="/logout">Logout</a></li>
	</ul>
	<ul>
        <li><a href="/">Home</a></li>
        <li><a href="/allrecipes">All Recipes</a></li>
        <li><a href="/allrecipes/categories">Categories</a></li>
        <li><a href="/allrecipes/newrecipe">New Recipe</a></li>
        <li><a href="/glossary">Glossary</a></li>
        <li><a href="/conversions">Conversions</a></li>
    </ul>
</nav>

</body>
</html>